<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TIMESTAMP API</title>
    </head>
    <body>
        {{> header}}
        <p>{{intro}}</p>
        <code>{{path_date}}</code>
        <br>
        <code>{{path_unix}}</code>
        <p>{{output_text}}</p>
        <code>{{output}}</code>
        <br>
        <br>
    </body>
    {{> footer}}

</html>
